In [1]:
import pandas as pd
from scipy.sparse import csr_matrix

In [2]:
books_df = pd.read_csv('../data/books.csv')
reviews_df = pd.read_csv('../data/reviews.csv')

In [15]:
reviews_df.head()

,book_id,user_id,user_rating,user_review
0,1893,1,5,**spoiler alert** So the other day Elizabeth a...
1,5544,1,5,"This book was a pure delight. The subtitle ""Ad..."
2,2612,1,4,Really good book. It read like a bestseller (q...
3,368593,1,5,I found this book on a recommendation from a g...
4,20873740,1,5,"I haven't read a ton of ""history of the world""..."

In [9]:
n_users = reviews_df.user_id.unique().shape[0]
n_books = books_df.book_id.unique().shape[0]
print(f'Number of users: {n_users} | Number of books: {n_books}')

Number of users: 13143 | Number of books: 258473

In [5]:
books_popularity = reviews_df.groupby(['book_id']).count()
popular_books_id = books_popularity[books_popularity['user_id']> 20].index.to_list()
popular_reviews_df = reviews_df.loc[reviews_df['book_id'].isin(popular_books_id)]
popular_reviews_df = popular_reviews_df.drop(columns = ['user_review']) 
popular_reviews_df['book_id'].unique().shape[0]

4981

In [52]:
# books_matrix = popular_reviews_df.pivot_table(index='user_id', columns='book_id', values='user_rating')
# books_matrix.head()

In [50]:
# pivot ratings into movie features
# books_df_features = popular_reviews_df.pivot(
#     index='book_id',
#     columns='user_id',
#     values='user_rating'
# ).fillna(0)
# convert dataframe of movie features to scipy sparse matrix
# books_mat_features = csr_matrix(books_df_features.values)

In [7]:
books_df_features = popular_reviews_df.groupby(['book_id','user_id'], as_index=False)['user_rating'].max().unstack()
# convert dataframe of movie features to scipy sparse matrix
books_mat_features = csr_matrix(books_df_features.values)
books_df_features

book_id      0         1
             1         1
             2         1
             3         1
             4         1
                      ..
user_rating  422277    4
             422278    5
             422279    3
             422280    5
             422281    5
Length: 1266846, dtype: int64